body {
    height: 150vh;
    justify-content: center;
    background: linear-gradient(100deg, #000000, #adb1a1 );
}
h1 {
    font-family: 'sans-serif';
    border: 1px solid #ccc;
    color: #000000;
    color: #ebb113;
    justify-content: center;
}
.form-group {
    color: #ccc;
}
h3 {
    color: #ccc;
}
